## **Agenda**

- Control flow
- Loops
- List Comprehension
- Functions
- Lambda
- Common Methods

## **Control Flow**

In [1]:
x = 10
if x < 5:
  print("x is less than 5")
elif x == 5:
  print("x is equal to 5")
else:
  print("x is greater than 5")

x is greater than 5

In [2]:
number = 8
if number % 2 == 0:
  print("Number is even.")
else:
  print("Number is odd.")

Number is even.

In [3]:
number = 36

if number % 2 == 0:
  print("Number is even.")
  if number % 3 == 0:
    print("Number is divisible by 6.")
  else:
    print("Number is not divisible by 6.")
else:
  print("Number is odd.")

Number is even.
Number is divisible by 6.

## **Loops**

- While
- For

### **While loop**

In [4]:
count = 1
while count <= 10:
  print(count)
  count += 1

1
2
3
4
5
6
7
8
9
10

In [5]:
# smallest number greater than 700 divisible by 13
number = 700
while not number % 13 == 0:
  print(number, "is not divisible by 13.")
  number = number + 1
print(number, "is divisible by 13.")

700 is not divisible by 13.
701 is not divisible by 13.
702 is divisible by 13.

### **For Loop**

In [6]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
  print(number)

1
2
3
4
5

In [7]:
text = "Hello, World!"
vowel_count = 0
for char in text:
  if char.lower() in "aeiou":
    vowel_count += 1

print("Number of vowels:", vowel_count)

Number of vowels: 3

## **List Comprehension**

In [8]:
# Example 1: Squaring numbers using list comprehension

numbers = [1, 2, 3, 4, 5]

squared_numbers = [x ** 2 for x in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25]

In [9]:
#simple example: create a copy of a list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#letâ€™s do with a for loop:
new_list = []
for number in numbers:
  new_list.append(number)
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#do the same with list comprehension
new_list = [num for num in numbers]
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
squared = [num**2 for num in numbers]
print(squared)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
# Filtering even numbers using list comprehension
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [13]:
countries = ['USA', 'Canada', 'Mexico']
capitals = ['Washington, DC.', 'Ottawa', 'Mexico City']

capital_dict = {}
for i in range(len(countries)):
  capital_dict[countries[i]] = capitals[i]

capital_dict

{'USA': 'Washington, DC.', 'Canada': 'Ottawa', 'Mexico': 'Mexico City'}

In [14]:
capital_dict = {}
for country, capital in zip(countries, capitals):
  capital_dict[country] = capital
print(capital_dict)

{'USA': 'Washington, DC.', 'Canada': 'Ottawa', 'Mexico': 'Mexico City'}

## **Functions**

In [15]:
def is_even(i):
  """
  Input: i, a positive integer
  Returns True if i is even, otherwise False
  """
  return i % 2 == 0

is_even(5)

False

In [16]:
def calculate_rectangle_area(length, width):
  """
  Calculates the area of a rectangle.
  Parameters:
  - length: The length of the rectangle.
  - width: The width of the rectangle.
  Returns:
  - The area of the rectangle.
  """
  area = length * width
  return area
calculate_rectangle_area(5, 10)

50

In [17]:
def check_number(number):
  if number > 0:
    return "positive"
  elif number < 0:
    return "negative"
  else:
    return "zero"

check_number(-3)

'negative'

In [18]:
def calculate_rectangle_properties(length, width):
  if length <= 0 or width <= 0:
    return None, None, None

  perimeter = 2 * (length + width)
  area = length * width
  diagonal = (length ** 2 + width ** 2) ** 0.5
  return perimeter, area, diagonal

calculate_rectangle_properties(5,6)

(22, 30, 7.810249675906654)

## **Lambda**

In [19]:
addition = lambda x, y: x + y
result = addition(3, 5)
print(result)

8

In [20]:
(lambda x: x * 10 if x > 10 else (x * 5 if x < 5 else x))(11)

110

In [21]:
version2=lambda x: x * 10 if x > 10 else (x * 5 if x < 5 else x)

version2(11)

110

In [22]:
import pandas as pd
df = pd.DataFrame({'col1': [1, 2, 3, 4, 5], 'col2': [0, 0, 0, 0, 0]})
print(df)

   col1  col2
0     1     0
1     2     0
2     3     0
3     4     0
4     5     0

In [23]:
df['col3'] = df['col1'].map(lambda x: x * 10)
df

   col1  col2  col3
0     1     0    10
1     2     0    20
2     3     0    30
3     4     0    40
4     5     0    50

In [24]:
#or we can use apply() function
df['col3'] = df['col1'].apply(lambda x: x * 10)
df

   col1  col2  col3
0     1     0    10
1     2     0    20
2     3     0    30
3     4     0    40
4     5     0    50

## **Built-in Functions/Methods**

In [25]:
print("Hello, World!")

Hello, World!

In [26]:
#input
name = input("Enter your name: ")
print("Hello, " + name)

Enter your name: python
Hello, python

In [27]:
#len
numbers = [1, 2, 3, 4, 5]
length = len(numbers)
print("Length:", length)

Length: 5

In [28]:
#range
for num in range(1, 6):
  print(num)

1
2
3
4
5

In [29]:
x = 5
print(type(x))

<class 'int'>

In [30]:
num_str = str(5)
print(num_str)
type(num_str)

5

str

In [31]:
my_tuple = (1, 2, 3)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3]

In [32]:
#append
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [33]:
#split
sentence = "Hello, world! Welcome to Python."
words = sentence.split(" ")
print(words)

['Hello,', 'world!', 'Welcome', 'to', 'Python.']

In [34]:
#join
words = ['Hello', 'world!', 'Welcome', 'to','Python.']
sentence = ' '.join(words)
print(sentence)

Hello world! Welcome to Python.

In [35]:
#sorted
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5]
sorted_list = sorted(my_list)
print(sorted_list)

[1, 1, 2, 3, 4, 5, 5, 6, 9]

In [36]:
#enumerate
fruits = ['apple', 'banana', 'orange']
for index, fruit in enumerate(fruits):
  print(index, fruit)

0 apple
1 banana
2 orange